#adpmain{
  margin:10px auto;
  width: 1200px;
  border:1px solid #eee;
  padding:10px;
}

.faright{
  float:right;
}

.menuview{
    width:320px;
    z-index:300;
    margin-top:-505px;
    margin-left:-10px;
}

.menuview{
  height:605px;
  width:930px;
  margin:30px 20px;
  overflow:hidden;
  background-color:#ccc;
  padding:10px;
}

/* 菜单修改界面 */
.menuview>div:nth-child(1){
  width:320px;
  height:100%;
  float:left;
  background: transparent url(../img/mobiol_head.png) no-repeat 0 0;
  border:1px solid #777;
}

.menuview>div:nth-child(2){
  width:558px;
  height:567px;
  background-color:#eee;
  float:left;
  margin:0px 0px 0px 8px;
  padding:20px
}

.menuview>div:nth-child(2)>div:nth-child(1){
  padding-bottom:8px;
  color:#459ae9;
  border-bottom:1px solid #bbb;
}

.menuview>div:nth-child(2)>div:nth-child(1)>span:nth-child(1){
  color:#000;
  font-size:110%;
}

.menuview>div:nth-child(2)>div:nth-child(1)>span:nth-child(2){
  font-size:90%;
  cursor:pointer;
}

.menuview>div:nth-child(2)>div:nth-child(1)>span:nth-child(2):hover{
  text-decoration:underline;
}

.menuview>div:nth-child(2)>div:nth-child(2){
  margin-top:60px;
  margin-bottom:30px;
}

.menuview>div:nth-child(2) dl>dt{
  width:100px;
  display:table-cell;
}

.menuview>div:nth-child(2) dl>dd{
  display:table-cell;
  margin-left:20px;
}

.menuview>div:nth-child(2) dl>dd p{
  margin:5px;
  font-size:80%;
  color:#999;
}

.menuview>div:nth-child(2) dl>dd input{
  width:300px;
  height:25px;
}

.menuview>div:nth-child(2)>div:nth-child(3)>div>input{
  margin-left:30px;
  cursor:pointer;
}

.menuview>div:nth-child(2)>div:nth-child(3)>div>input:nth-child(10) ,.menuview>div:nth-child(2)>div:nth-child(3)>div>input:nth-child(17){
  margin-left:0px !important;
}

.menuview>div:nth-child(2)>div:nth-child(3) label{
  cursor:pointer;
  line-height:25px;
}

.menuview>div:nth-child(2)>div:nth-child(3)>div:nth-child(1)>div{
  width:100%;
  height:300px;
  background-color:#fff;
  padding-top:10px;
  margin-top:10px;
  display:none;
  padding-left:10px;
}

.menuview>div:nth-child(2) #sc1:checked ~ .sc1 ,.menuview>div:nth-child(2) #sc2:checked ~ .sc2 ,.menuview>div:nth-child(2) #sc3:checked ~ .sc3 ,.menuview>div:nth-child(2) #sc4:checked ~ .sc4 ,.menuview>div:nth-child(2) #sc5:checked ~ .sc5 ,.menuview>div:nth-child(2) #sc6:checked ~ .sc6 ,.menuview>div:nth-child(2) #sc7:checked ~ .sc7 ,.menuview>div:nth-child(2) #sc8:checked ~ .sc8 ,.menuview>div:nth-child(2) #sc9:checked ~ .sc9 ,.menuview>div:nth-child(2) #sc10:checked ~ .sc10{
  display:block !important;
}

input[name='soncontent'][value='0'][bsub_button='1']:checked ~ input ,input[name='soncontent'][value='0'][bsub_button='1']:checked+label ~ label{
  display:none !important;
}

.menuview .focusmenu{
  border:1px solid #44b549;
  color:#44b549;
  background-color:#ddd;
}
