<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="Photography, Photo Images, Responsive, Business, Corporate, Gallery, Notebook" />
<meta name="description" content="PhotoBax Responsive Photography Business Template" />
<head>
  <style type="text/css">
.dropmenuckedit{
  border: 10px solid #CCC;
}
.dropmenuckedit>div:nth-child(1){
  border: 2px solid #C0C;
}
  </style>
  <script type="text/javascript" src="/source/manage/js/jquery-1.11.0.js"></script>
</head>
<body style="margin:0px;padding:0px;font-size:250%;width:100%">
<div class="dropmenuckedit">
  <div style="backgroud-color:#777" class="diva">
aaaaaaaaaaaaaaaaaaaa
  </div>
  <div>
asdddddddddddddddddddddd
  </div>
</div>
</body>
</html>
