<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="Photography, Photo Images, Responsive, Business, Corporate, Gallery, Notebook" />
<meta name="description" content="PhotoBax Responsive Photography Business Template" />
<head>
  <title>{{pagetitle}}</title>
  <link type="text/css" rel="stylesheet" href="/source/ckeditor/contents.css">
  <style type="text/css">
iframe{
  width: 100%;
}
  </style>
</head>
<body class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
  <p><img src="/source/change/img/adp1.png" style="width:100%"></p>
  {{ content|raw }}
  <p><img src="/source/change/img/adp2.png" style="width:100%"></p>
</body>
</html>
